@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Oswald&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  background: linear-gradient(to bottom, #020E13, #056798);
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  font-family: "Graduate", sans-serif;
  color: #fff;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  width: auto;
  height: 80vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 70px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}

#openBtn {
  border: 3px solid #219EBC;
  width: 20vw;
  height: 40px;
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}

.menu__text {
  font-size: 1.2rem;
  color: white;
  font-family: "Graduate", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom, #020E13, #056798);
  height: auto;
}

h2 {
  font-size: 3rem;
  color: #fff;
  font-family: "Graduate", sans-serif;
  font-weight: 600;
}

.header {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  gap: 8rem;
}

.header__img {
  border: 2px solid #219EBC;
  background-color: #022232;
  width: 60vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  box-shadow: 15px 8px 0px #219EBC;
}

.header__icone {
  width: 80vw;
  height: 30vh;
}

.header__description {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 90vw;
  gap: 5rem;
  align-items: center;
  padding-left: 3rem;
}

.header__title {
  font-size: 3.6rem;
  color: #fff;
  font-family: "Graduate", sans-serif;
}

.header__inline {
  display: block;
}

.header__text {
  font-size: 1.6rem;
  color: #fff;
  font-family: "EB Garamond", sans-serif;
}

.header__cv {
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
  font-family: "EB Garamond", sans-serif;
  background-color: #fff;
  border: 1px solid #fff;
  color: #197BB1;
  font-size: 1.3rem;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  align-items: center;
}

.header__buttons a {
  font-family: "EB Garamond", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.main {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  gap: 8rem;
}

.main__projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  gap: 4rem;
}

.main__card {
  border: 2px solid #219EBC;
  background-color: #022232;
  width: 55vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  box-shadow: 15px 8px 0px #219EBC;
}

.main__img {
  width: 50vw;
  height: 22vh;
}

.card__text {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 1rem;
  gap: 0.5rem;
}

.card__text p {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Graduate", sans-serif;
}

.card__text a {
  text-decoration: none;
  color: #fff;
  font-family: "EB Garamond", sans-serif;
  font-size: 1.2rem;
}

.card__text i {
  color: #219EBC;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #219EBC;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 85vh;
  border: 2px solid #219EBC;
  border-radius: 20px;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.modal-content h3 {
  font-size: 2.5rem;
  font-family: "EB Garamond", sans-serif;
  color: #021620;
}

.modal-content h2 {
  font-size: 2rem;
}

.modal-content p {
  font-size: 2rem;
  font-family: "EB Garamond", sans-serif;
  position: relative;
}

.modal-content p::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 60px;
  height: 1px;
  left: 40%;
  background-color: #000;
}

.modal-content img {
  width: 50vw;
}

.modal__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #022232;
  border-radius: 10px;
  width: 20vw;
  height: 3vh;
  background-color: #022232;
}

.modal__link a {
  text-decoration: none;
  font-family: "EB Garamond", sans-serif;
  color: #fff;
  font-weight: 900;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 0;
  border-radius: 30px;
  border: 1px solid #022232;
  background-color: #022232;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  padding-top: 10rem;
  position: relative;
}

.skills__carousel {
  display: flex;
  overflow-x: auto;
  width: 50%;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Permet un défilement fluide sur iOS */
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.skills__carousel img {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}

.skills__scroll {
  display: none;
}

.up {
  display: none;
}

.up i {
  color: #fff;
  font-size: 2rem;
}

.skills__scroll i {
  color: #fff;
}

.about {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  gap: 1rem;
}

.about__content {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  height: 40vh;
  align-items: center;
}

.about__img {
  border: 2px solid #219EBC;
  background-color: #022232;
  width: 20vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  box-shadow: 8px 3px 0px #219EBC;
}

.about__icone {
  width: 15vw;
  height: 12vh;
}

.about__description {
  border: 1px solid #219EBC;
  border-radius: 2px;
  width: 60vw;
  height: 23vh;
  background-color: rgba(133, 189, 203, 0.3019607843);
}

.about__description p {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 95%;
  height: 90%;
  color: #fff;
  font-size: 1.2rem;
  font-family: "EB Garamond", sans-serif;
}

.about h2 {
  font-size: 1.7rem;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.contact__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.contact__title img {
  width: 20%;
  height: auto;
}

.contact__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}

.contact__buttons button {
  width: 80vw;
  height: 13vh;
  border: 2px solid #219EBC;
  border-radius: 30px;
  background-color: #022232;
  color: #fff;
  font-family: "Graduate", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.contact__buttons img {
  width: 12vw;
}

.contact__buttons p {
  color: #219EBC;
}

.contact__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.contact__socials img {
  width: 30%;
}

.contact__footer {
  font-family: "EB Garamond", sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

@media screen and (min-width: 1400px) {
  .header__description {
    margin-right: 10rem;
  }
  .header__description h1 {
    font-size: 8rem;
  }
  .main {
    gap: 20rem;
  }
  .about__content {
    margin-top: 6rem;
  }
  .contact__title {
    width: 40vw;
  }
  .contact__buttons {
    width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 6rem;
  }
  #openBtn {
    display: none;
  }
  .sidenav {
    position: initial;
    width: auto;
    background: initial;
    padding-top: 0;
  }
  .sidenav ul {
    flex-direction: row;
    height: auto;
  }
  .sidenav .close {
    display: none;
  }
  .sidenav a {
    font-family: "Graduate", sans-serif;
    font-size: 2rem;
  }
  .navigation {
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    padding-left: 10rem;
  }
  .logo {
    width: 8%;
    height: auto;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    height: 80vh;
  }
  .header__img {
    width: 16vw;
    margin-left: 20rem;
    height: 30vh;
  }
  .header__icone {
    height: 25vh;
  }
  .header__title {
    font-size: 4.5rem;
  }
  .header__text {
    font-size: 1.8rem;
  }
  .header__description {
    align-items: flex-start;
    width: auto;
    padding-right: 20rem;
    gap: 3rem;
  }
  .header__cv {
    width: 10vw;
  }
  .header__buttons {
    width: 15vw;
  }
  .main__projects {
    flex-direction: row;
    width: 80vw;
    height: auto;
  }
  .main__img {
    width: 60vw;
    height: 40vh;
  }
  .card__text {
    width: auto;
  }
  .main__card {
    width: 18vw;
    height: 60vh;
    transition: transform 0.2s ease;
  }
  .main__card:hover {
    transform: scale(1.5);
  }
  .modal {
    padding: 0.5rem;
  }
  .modal__link {
    width: 8vw;
    height: 4vh;
  }
  .modal-content {
    width: 40%;
    height: 90vh;
  }
  .modal-content img {
    width: 12vw;
  }
  .modal-content p {
    font-size: 1.7rem;
    color: #fff;
  }
  .modal-content h2 {
    font-size: 2.5rem;
  }
  .modal-content p::before {
    left: 42%;
  }
  .skills {
    padding-top: 0;
    height: 90vh;
    gap: 10rem;
  }
  .skills__scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #219EBC;
    border-radius: 30px;
    width: 5vw;
    height: 7vh;
  }
  .up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 5vh;
    border: 3px solid #219EBC;
    background-color: #022232;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  .about {
    height: 100vh;
    padding-top: 0;
    padding-top: 5rem;
    gap: 15rem;
  }
  .about h2 {
    font-size: 5rem;
  }
  .about__img {
    width: 16vw;
    height: 50vh;
  }
  .about__icone {
    height: 35vh;
  }
  .about__description {
    height: 60vh;
  }
  .about__description p {
    font-size: 3rem;
  }
  .contact {
    height: 95vh;
  }
  .contact__title {
    width: 40vw;
  }
  .contact__buttons {
    flex-direction: row;
    width: 70vw;
    align-items: center;
  }
  .contact__buttons button {
    width: 25vw;
    height: 17vh;
  }
  .contact__buttons img {
    width: auto;
  }
  .contact__socials {
    width: 10%;
  }
  .contact__title img {
    width: 20%;
  }
}/*# sourceMappingURL=main.css.map */
