.navigation{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  @include background-gradient($firstBackground);
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  font-family: 'Graduate', sans-serif;
  color: #fff;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #FFFF;
  width: auto;
  height: 80vh;
  font-size : 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 70px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #FFFF;
  margin: 6px 0;
}

#openBtn{
  border: 3px solid #219EBC;
  width: 20vw;
  height: 40px;
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}

.menu__text{
  font-size: 1.2rem;
  color:#FFFF;
  font-family: 'Graduate',sans-serif;
}